[data-path*="quotation/"] .web-form-head .web-form-actions .edit-button,
[data-path="customer-purchase-order/list"] .web-list-header .button-new,
[data-path="customer-purchase-order/new"] .discard-btn,
[data-path="delivery-note/list"] .web-list-header .button-new,
.web-form .form-in-grid [data-fieldname="name"],
.web-form .form-in-grid [data-fieldname="warehouse"]{
    display: none;
}
[data-path*="customer-purchase-order/new"] .frappe-control [data-fieldname="company"]{
    min-height: var(--input-height);
    border-radius: var(--border-radius-sm);
    padding: var(--disabled-input-padding);
    cursor: default;
    color: var(--disabled-text-color)!important;
    background-color: var(--disabled-control-bg)!important;
    pointer-events: none;
}
.form-section {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}