[data-path*="quotation/"] .web-form-head .web-form-actions .edit-button,
[data-path="customer-purchase-order/list"] .web-list-header .button-new,
[data-path="customer-purchase-order/new"] .discard-btn,
[data-path="delivery-note/list"] .web-list-header .button-new,
.web-form .form-in-grid [data-fieldname="name"],
.web-form .form-in-grid [data-fieldname="warehouse"]{
    display: none;
}
[data-path*="customer-purchase-order/new"] .frappe-control [data-fieldname="company"]{
    min-height: var(--input-height);
    border-radius: var(--border-radius-sm);
    padding: var(--disabled-input-padding);
    cursor: default;
    color: var(--disabled-text-color)!important;
    background-color: var(--disabled-control-bg)!important;
    pointer-events: none;
}
.web-form:has(.web-form-skeleton) .web-form-footer,
[data-path*="quotation/"] [data-fieldname="base_total_taxes_and_charges"],
[data-path*="quotation/"] [data-fieldname="base_rounding_adjustment"],
[data-path*="quotation/"] [data-fieldname="base_rounded_total"],
[data-path*="quotation/"] [data-fieldname="base_in_words"],
[data-path*="quotation/"] [data-fieldname="rounding_adjustment"],
[data-path*="quotation/"] [data-fieldname="rounded_total"],
[data-path*="quotation/"] [data-fieldname="coupon_code"],
[data-path*="quotation/"] [data-fieldname="taxes_and_charges"],
[data-path*="quotation/"] [data-fieldname="base_discount_amount"],
[data-path*="quotation/"] [data-fieldname="disable_rounded_total"],
[data-path*="quotation/"] [data-fieldname="payment_terms_template"],
[data-path*="quotation/"] [data-fieldname="tc_name"],
[data-path*="quotation/"] [data-fieldname="base_grand_total"] {
    display: none;
}
.form-section {
    overflow-x: auto;
}